# IDEs
.idea/
.vscode/

# application binary
sanity
bin/sanity
bin/sanity.exe

# coverage files
coverage.out
coverage.html
.gotools/
coverage.tmp
*.coverprofile
*.cover

# goreleaser
dist/

# Beads
.beads/bd.*

# macOS
.DS_Store

# Windows
Thumbs.db
