# IDEs
.idea/
.vscode/

# application binary
sanity

# coverage files
coverage.out
coverage.html
coverage.tmp
*.coverprofile
*.cover

# goreleaser
dist/

# Beads
.beads/bd.*

# macOS
.DS_Store

# Windows
Thumbs.db
